fastapi==0.116.1
uvicorn[standard]==0.23.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
SQLAlchemy==2.0.41
pydantic==1.10.22
bcrypt==4.3.0
python-multipart
python-dotenv
passlib[bcrypt]
python-jose
asyncpg
sqlalchemy[asyncio]
